#header {

}

.menulist{


}

.list{
	list-style: none;
    display: flex;
    margin-left: 349px;

}
.item{
 	margin:8px;
 	width:  169px;
 	height: 47px;
 	color: red;
 	font-size: 26px;
 	font-weight: 900;

}
.itemlang{
	margin:10px;
	color: #000;
 	font-size: 26px;
 	font-weight: 900px;


}
#main{

}
#contact{
	background: url("../img/exemplos/img-1.jpeg");
	background-repeat: repeat;
	display: flex;


}
.title-principal{
	 width:  737px;
	 height: 360px;
	 font-size: 72px;
	 font-weight: 900;
	 text-align: left; 
	 color: #fff;
	 margin-left: 100px;
	}
.form-button{

}
.b-contact{
	background-color: red;
    color: white;
    border-radius: 42px;
    width: 280px;
    font-size: 43px;
    height: 100px;
    font-weight: 900;
    align-self: right;

}
.img-contact{
	width: 46.52px; 
	height: 56px;

}
#products{
	background-color: #1E90FF;
	


}
.box-prod {

}

.box-prod-1 {
	display: flex;
	flex-direction: row;

}
.our-products{
	width:  533px;
    height:  80px;
    font-size: 64px;
    color: #fff;




}
.box-cash{
	text-align: center;

}
.t-cash{
	height: 40px;
	font-size: 32px;
	color: #fff;

}

.p-cash{
	height: 40px;
	font-size: 22px;
	text-align: center;
	color: #fff;
}
.img-cash{
	width: 219.25px;
    height: 194.98px;

}
#simulate{
	width: 100%;
    height: 765px;
    background-color: #1E90FF;
    display: flex;

}
.converter {
	width: 285px;
    height: 296px;
    border-radius: 41px;
    text-align: center;
    font-size: 21px;
    font-family: sans-serif,Arial,Helvetica;
  	background-color: #FFFFFF;
}
}
.div-simulate{
	
}
.t-simulate{
	width: 533px; 
    height: 164px; 
    font-size: 64px;
    text-align: left;
    color: #fff;

}
.p-simulate{
	width: 557px;
    height: 86px;
    font-size: 32px;
    text-align: left;
    color: #fff;
    font-weight: 600;
}
.img-simulate{
	 width: 61px; 
     height: 61px;
     border-radius: 33px;

}
.list-cash{
	    list-style: none;


}
.item-coin{
	 width: 179px;
     height: 43px;
     font-size: 32px;
     text-align: left; 
    margin-bottom: 40px;

}
#album{

}
.album-photos{

}
.p-photos{
	width: 492.2px; 
    height: 199.41px;
    font-size: 22px;
    text-align: left;

}
.p-photo{
	font-weight: 900px;

}
.blue-div{

}
.blue-p{
	width: 575px;
    height: 216px;
    font-size: 42px;
    text-align: left;

}
#sect-iframe{
	width: 1920px;
    height: 573px;
    background-color: rgb(247, 246, 246);
    display: flex;

}
.state {
	font-size: 20px;
	color: #000;


}
.city {
	font-size: 20px;
	color: #000;

}
.country {
	font-size: 20px;
	color: #000;

}
.p-red{
	width: 533px;
     height: 165px;
     color: #EE3325;
     font-size: 64px;
     margin: 100px 10px 10px 150px;


}
.form-agency{

}
.agency{

}
.iframe{

}
#social-impact{

}
.impact-social{
	width: 533px; 
    height: 80px;
    font-size: 64px;
    text-align: left;
    color: #0083CA;

}
.container{

}
.foruns{

}
.img-foruns{
	width: 374.8px;
	height: 280.75px;
	border-radius: 7px;

}
.t-foruns{
    width: 493px;
    height: 74px;
    font-size: 28px;
    text-align: left;
    font-weight: 900;

}
.p-impact{
	width:  415.2px;
	height: 149.41px;
	font-size: 18px;
	text-align: left;

}
.p-news{
	width: 459.2px;
 	height: 103.41px;
 	font-size: 16px;
 	text-align: left;

}
.t-news{
	width: 460px;
	height: 107px;
	font-size: 18px;
	text-align: left;

}
.news-1{

}
.news-2{

}
.news-3{

}
.news-4{

}
#partners{

}
.box-partners{

}
.t-partners{

}

.list-part{

}
.item-part{

}
#rodape{
	background-color: red;
	width: 1000px;
    height:542px;
    display: flex;
    justify-content: center;
}

.box1-footer {

}
.p-footer{
	
	text-align: left;
    font-size: 30px;
    
    color: #fff;


}

.ptwo-footer {
	color: #000;
	font-size: 18px;
	margin: 100px;

}
.box2-footer {

}

.pthree-footer {
color: #fff;
font-size: 20px;

}